{{ define "title" }}Home{{ end }}

{{ define "body" }}
    {{ template "header" .}}

    <div class="dashboard">
        <h1>Running Crypto Bots</h1>
        <!-- List of running crypto bots and their stats -->

        <div class="running-bots">
            <!-- Currently running bots will appear here -->
        </div>

        <div class="bot-control">
            <h3>Start a New Bot</h3>

        <form id="startbot-form" action="/start-bot" method="POST">
            <label for="symbol">Trading Pair:</label>
            <input id="symbol-home" type="text" name="symbol" placeholder="Choose Symbol" required>
            {{ template "dropdown-bt" . }} 
            <label for="strat-bt">Choose a Strategy:</label>
            {{ template "dropdown-strat" .}}
            <button id="startbot-btn" type="submit" onclick="startBot(event)">Start Bot</button>
        </form>
        </div>
    </div>

    {{ template "script" .}}
{{ end }}
